:root{
    --wps-white: rgba(249, 249, 249, 1.0);
    --wps-green: #6aa84f;

    --wps-navbar-active: var(--wps-green);
    --wps-navbar-secondary: var(--wps-white);
    --wps-navbar-hover: rgba(255, 255, 255, 0.75);
    --wps-navbar-brand-fontsize: 24px;
}

.dropdown-menu {
    --bs-dropdown-color: var(--bs-gray-900);
    --bs-dropdown-bg: var(--bs-gray-900);
    --bs-dropdown-min-width: 1rem;
    --bs-dropdown-link-color: var(--wps-navbar-secondary);
    --bs-dropdown-link-hover-color: var(--wps-navbar-hover);
    --bs-dropdown-link-hover-bg: var(--bs-gray-900);
    --bs-dropdown-link-active-color: var(--wps-navbar-secondary);
    --bs-dropdown-link-active-bg: var(--wps-navbar-secondary);
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--wps-navbar-hover);
    text-decoration: none;
    background-color: inherit;
}

.navbar{
    --bs-navbar-brand-font-size: var(--wps-navbar-brand-fontsize);
    --bs-nav-link-font-size: 18px;
    --bs-dropdown-font-size: 18px;
}

.dropdown-item{
    font-size: 18px;
}

.navbar-dark{
    --bs-navbar-color: var(--wps-navbar-secondary);
    --bs-navbar-hover-color: var(--wps-navbar-hover);
    --bs-navbar-active-color: var(--wps-navbar-active);
    --bs-navbar-brand-color: var(--wps-white);
}

.navbar-brand img{
    padding-bottom: 2px;
    height: 40px;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .navbar-expand-lg .navbar-language-collapsed{
        display: none;
    }

    .flag{
        width: 1.4em;
        height: 1.4em;
    }
}

@media all and (max-width: 992px){
    .navbar-expand-lg .navbar-language-expanded{
        display: none;
    }

    .btn{
        --bs-btn-color: var(--wps-white);
        --bs-btn-hover-color: var(--wps-white);
    }

    .flag{
        width: 1.8em;
        height: 1.8em;
    }
}

@media all and (max-width: 480px){
    .navbar{
        --bs-navbar-brand-font-size: 16px;
        --bs-nav-link-font-size: 14px;
    }

    .dropdown-item{
        font-size: 14px;
    }

    .navbar-toggler-icon{
        width: 1rem;
    }

    .navbar-toggler {
        padding: 4px 4px;
    }

    .flag{
        width: 1.0rem;
        height: 1.0rem;
    }
}

.flag{
    cursor: pointer;
}

.text-wps-white{
    --bs-text-opacity: 1;
    color: var(--wps-white) !important;
}

.legal.dropdown-menu {
    --bs-dropdown-min-width: 130px;
  }