.z-on-top{
    z-index: 100;
}

.wpfooter{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 12px;
}

.wpfooter, .page-wrap:after{
    height: 70px;
}


.wptext h1{
    font-size: x-large;
}

.wptext h4{
    font-size: medium;
}

.wptext p, .wptext strong, .wptext li{
    font-size: x-small;
}

@media all and (min-width: 576px){
    .wpfooter{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: medium;
    }

    .wptext h1{
        font-size: xx-large;
    }

    .wptext h4{
        font-size: x-large;
    }

    .wptext p, .wptext strong, .wptext li{
        font-size: medium;
    }
}
